



.header  {
    width: repeat(390
    px-fill);
    height: auto;
    display: grid;
    text-align: center;
    align-items: center;
    font-family: cursive;
    font-size: 80px;
    padding-top: 10px;


  }
  .head2 p {
  font-size: 30px;
  font-family: cursive;

  }

  body {background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=900&t=st=1680599588~exp=1680600188~hmac=54615fc2b5a39a1eb958b030df1cf5898e6f5655bf123044a34843d510e6977a");
;
background-size: cover;
  }
  .container {
display: grid;
grid-template-columns: 390px 390 px 390px 390px;
grid-template-rows: 450px 450px 150px ;
grid-gap: 1em;
grid-gap: 10px;   }

.item1:first-child { 
grid-column: 1 / 5 ;
grid-row:  1 / 1;
background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=900&t=st=1680599588~exp=1680600188~hmac=54615fc2b5a39a1eb958b030df1cf5898e6f5655bf123044a34843d510e6977a");
;   border-style:solid;
brdero-th:thin; wid

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  overflow: hidden;
  height: 200;}

  


.item2 {
background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=900&t=st=1680599588~exp=1680600188~hmac=54615fc2b5a39a1eb958b030df1cf5898e6f5655bf123044a34843d510e6977a");

border:solid; border-width:thin;  }

#house { }
.item3 { 

background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=900&t=st=1680599588~exp=1680600188~hmac=54615fc2b5a39a1eb958b030df1cf5898e6f5655bf123044a34843d510e6977a");
;

border:solid; border-width:thin; 
}

.item4 { 

background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=900&t=st=1680599588~exp=1680600188~hmac=54615fc2b5a39a1eb958b030df1cf5898e6f5655bf123044a34843d510e6977a");
;

border:solid; border-width:thin;  }
.item5 { 

background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=900&t=st=1680599588~exp=1680600188~hmac=54615fc2b5a39a1eb958b030df1cf5898e6f5655bf123044a34843d510e6977a");
;

border:solid; border-width:thin;  }
.item6 { 

background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=900&t=st=1680599588~exp=1680600188~hmac=54615fc2b5a39a1eb958b030df1cf5898e6f5655bf123044a34843d510e6977a");
;

border:solid; border-width:thin;  }
.item7 { 
background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=900&t=st=1680599588~exp=1680600188~hmac=54615fc2b5a39a1eb958b030df1cf5898e6f5655bf123044a34843d510e6977a");
;

border:solid; border-width:thin;  }

.item8 { 

background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=900&t=st=1680599588~exp=1680600188~hmac=54615fc2b5a39a1eb958b030df1cf5898e6f5655bf123044a34843d510e6977a");
;

border:solid; border-width:thin;  }
.item9 { 
background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=900&t=st=1680599588~exp=1680600188~hmac=54615fc2b5a39a1eb958b030df1cf5898e6f5655bf123044a34843d510e6977a");
;

border:solid; border-width:thin;  }
.item11 { 
grid-column: 1 / 5;
background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=900&t=st=1680599588~exp=1680600188~hmac=54615fc2b5a39a1eb958b030df1cf5898e6f5655bf123044a34843d510e6977a");
;

border:solid; border-width:thin; 
border:solid; border-width:thin; }

.item1 {
  
  font-family:cursive;
  font-size: 80px;
  
}



.itema {}


  
      
      

   


.header {
    grid-rows:}

